table{
    border: solid 0.5px rgb(196, 196, 196);
}

.customer:hover {
    background-color: rgba(230, 230, 230, 0.248);
}

.customer_table_td_id{
    width: 25px;
}
.customer_table_td_img{
    width: 70px;
    display: flex;
    justify-content: center;
}

.customer_img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
}

.customer_table_td_email{
    width: 200px;
}

.customer_table_td_name{
    width: 150px;
}

.customer_table_td_phone, .customer_table_td_postalcode{
    width: 120px;
}

.customer_table_td_address{
    width: 300px;
}

.customer_table_td_city, .customer_table_td_province, .customer_table_td_country, .customer_table_td_role, .customer_table_td_active, .customer_table_td_actions{
    width: 80px
}

.manage_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.manage_icon_edit, .manage_icon_delete {
    color: black;
    cursor: pointer;
}

.manage_icon_edit:hover, .manage_icon_delete:hover {
    color: #757575;
}

.manage_icon_delete {
    padding-left: 10px;
} 