.customer {
    /* width: 100%; */
    display: flex;
    /* flex-direction: row; */
    justify-content: left;
    align-items: center;
    text-align: left;
    border: 1px solid rgba(218, 218, 218, 0.426);
    box-shadow: #cecece 2px 2px 2px;
    /* padding: 3px; */
}

.customer:hover {
    background-color: rgba(230, 230, 230, 0.248);
}

.customer_div_profile, .customer_div_role, .customer_div_active {
    flex: 1;
}
.customer_div_name{
    flex: 2;
}

.customer_div_email{
    flex: 3;
}
.customer_div_phone{
    flex: 2;
}


.customer_table {
    display: flex;
    width: 100%;
}

.customer_table_td {
    text-align: left;
    /* border: 1px solid gray; */
}

.customer_profile_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.customer_img {
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    text-align: center;
}

.manage_icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.manage_icon_edit, .manage_icon_delete {
    color: black;
    cursor: pointer;
}

.manage_icon_edit:hover, .manage_icon_delete:hover {
    color: #006b20;
}

.manage_icon_delete {
    padding-left: 10px;
}