.manage_div{
    display: flex;
}
.manage_customers {
    display: flex;
    flex-direction: column;
}

.manage_customers_h1 {
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 80px;
}

.manage_customers_top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 30vw;
}

.customer_add_btn_container{
    display: flex;
    padding-right: 10px;
}

.manage_customers_component{
    width: 150%;
}